<nav class="teal lighten-2">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">北商教評機器人</a>
    <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#modal-about">關於</a></li>
      <li><a href="https://github.com/arthurc0102/ntubbot-django/issues/new" target="_blank">問題回報或是意見</a></li>
      {% if request.path != '/users/login/' %}
        <li><a href="{% url 'users:logout' %}">登出</a></li>
      {% endif %}
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a href="#modal-about" onclick="$('#mobile').sideNav('hide');">關於</a></li>
      <li><a href="https://github.com/arthurc0102/ntubbot-django/issues/new" onclick="$('#mobile').sideNav('hide');" target="_blank">問題回報或是意見</a></li>
      {% if request.path != '/users/login/' %}
        <li><a href="{% url 'users:logout' %}">登出</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<div id="modal-about" class="modal">
  <div class="modal-content">
    <h4>關於</h4>
    <p class="divider"></p>
    <p>
      這是北商大的教學評量機器人<br />
      建議由機器人填寫完畢後到<a href="http://ntcbadm.ntub.edu.tw/" target="_blank">系統</a>中確認<br />
      這個專案是開源的<a href="https://github.com/arthurc0102/ntubbot" target="_blank">點這邊</a>查看
    </p>
    <p>
      我是<a href="http://arthurc.me" target="_blank">拉布</a>，徵求想一起維護的人，用 Email (arthurc0102@gmail.com) 聯絡我或發<a href="https://www.facebook.com/arthurc0102" target="_blank">臉書</a>訊息給我～
    </p>
  </div>
</div>


<script>
  // for navbar
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
    $('.modal').modal()  // modal initial
  })
</script>

<style>
  /* for nav */
  .nav-wrapper {
    padding-right: 10px;
  }

  .brand-logo {
    margin-left: 10px;
  }
</style>
