<!DOCTYPE html>
<html lang="en">

<head>
  <title>NTUB {% block title %}Bot{% endblock title %}</title>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static "css/material-icon.css" %}">
  <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
  <link rel="shortcut icon" type="image/png" href="{% static "image/logo.png" %}" />

  <style>
    .container {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  </style>

  {% block style %}{% endblock style %}

  <script src="{% static "js/jquery.min.js" %}"></script>
</head>

<body>
  {% include "part/navbar.html" %}

  <div class="container">
    {% block body %}{% endblock body %}
  </div>

  <script src="{% static "js/materialize.min.js" %}"></script>

  <script>
    // log
    console.log("%c你為什麼要偷看 0.0？", "color: #f00; font-size: 50px;");

    // messages
    {% if messages %}
      {% for message in messages %}
        Materialize.toast('{{ message }}', 4000)
      {% endfor %}
    {% endif %}
  </script>

  {% block script %}{% endblock script %}
</body>

</html>
