{% extends "core/base.html" %}

{% block style %}
  <style>
    .submit-btn {
      margin-right: 10px;
    }
  </style>
{% endblock style %}

{% block body %}
  <div class="row">
    <div class="col s10 offset-s1 m6 offset-m3">
      <h3>登入</h3>
      <p class="divider"></p>
    </div>
  </div>
  <div class="row">
    <form class="col s10 offset-s1 m6 offset-m3" action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          <input id="id_username" name="username" type="text" class="validate" value="{{ username }}" required>
          <label for="id_username">北商資訊系統帳號 (學號)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="id_password" name="password" type="password" class="validate" required>
          <label for="id_password">北商資訊系統密碼</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light right submit-btn" type="submit">Login
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
{% endblock body %}
