{% extends 'layout.html' %}

{% load static %}

{% block main %}
  <div class="row">
    <div class="col-12 col-md-6 text-center order-md-10">
      <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Logo">
      <p class="mt-3">
        這隻是靠北貓<br>
        他真的很可愛也很靠北<br>
        如果你還沒看過現在讓你看看
      </p>
    </div>

    <div class="col-12 col-md-6">
      <div class="jumbotron">
        <h1 class="display-4 text-center">NTUB Bot</h1>
        <p class="lead text-center">北商大教學評量機器人</p>
        <hr class="my-4">
        <p>
          如果你想好好填寫教學評量這個網站並不適合你<br>
          我只是希望能讓不想發表意見的學生有方便的工具能夠使用，且不喪失選課或是成績查詢等權利<br>
          如果你看完依然想要使用請點<a href="{% url 'assessments:index' %}">這裡</a>開始使用
        </p>
        <p>
          還有結束後別忘了再登入<a href="http://ntcbadm.ntub.edu.tw" target="_blank">資訊系統</a>檢查一下唷～
        </p>
        <p>
          如果你有任何疑問或是想法可以聯絡我 <a href="mailto:arthurc0102@gmail.com">arthurc0102@gmail.com</a>
          或是到 GitHub 上開 <a href="https://github.com/arthurc0102/ntub-bot/issues/new" target="_blank">Issues</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>聲明</h3>
      <hr>
      <p>
        本人不會留下使用者的任何資訊或是帳號密碼，如有疑慮又想使用本工具可以自行架設本網站，本專案為開源專案原始碼都在 GitHub 上歡迎參觀。
      </p>
      <p>
        專案原始碼：<a href="https://github.com/arthurc0102/ntub-bot" target="_blank">arthurc0102/ntub-bot</a>
      </p>
      <p>
        P.S. 如果你喜歡這個工具可以考慮在 GitHub 上幫我按一下 Star
      </p>
    </div>
  </div>
{% endblock %}
