<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>NTUB Bot</title>

  {% load static %}
  {% load bootstrap4 %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  {% block extra_style %}{% endblock %}
</head>

<body>
  {% include 'shared/_navbar.html' %}

  <div class="container mb-3" style="margin-top: 80px;">
    {% bootstrap_messages %}
    {% block main %}{% endblock %}
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% block extra_script %}{% endblock %}
</body>

</html>
