{% extends "core/base.html" %}

{% block body %}
  <div class="row">
    <div class="col s12">
      <h3>填寫列表</h3>
      <p class="divider"></p>
    </div>
  </div>
    <div class="row">
      <div class="col m6">
        <h5>{{ std_id }} {{ name }}，你好</h5>
      </div>
      {% if all_class_parameter_string != '' %}
        <div class="col m6">
          <a class="red accent-2 waves-effect waves-light btn right" href="#modalAll">全部自動填寫</a>
          <div id="modalAll" class="modal bottom-sheet  modal-fixed-footer">
            <div class="modal-content ">
              <h4 class="center-align">分數選擇</h4>
              <p class="center-align">點擊分數以填寫</p>
              <div class="row">
                <div class="collection col s10 offset-s1 center-align">
                  <a onclick="fillAll(5)" class="collection-item">非常滿意 5</a>
                  <a onclick="fillAll(4)" class="collection-item">滿意 4</a>
                  <a onclick="fillAll(3)" class="collection-item">普通 3</a>
                  <a onclick="fillAll(2)" class="collection-item">不滿意 2</a>
                  <a onclick="fillAll(1)" class="collection-item">非常不滿意 1</a>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a onclick="$('#modal{{ forloop.parentloop.counter }}').modal('close');" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  <div class="row">
    <div class="col s12">
      <table class="centered responsive-table striped">
        <thead>
          <tr>
            <th>#</th>
            <th>開課班級</th>
            <th>科目代碼</th>
            <th>科目名稱</th>
            <th>授課教師</th>
            <th>填寫</th>
          </tr>
        </thead>
        <tbody>
          {% for c in class %}
            <tr>
              <td>{{ forloop.counter }}</td>
              {% for item in c %}
                <td>
                {% if not forloop.last %}
                  {{ item }}
                {% else %}
                  {% if item %}
                    <a class="waves-effect waves-light btn" href="#modal{{ forloop.parentloop.counter }}">自動填寫</a>
                    <div id="modal{{ forloop.parentloop.counter }}" class="modal bottom-sheet  modal-fixed-footer">
                      <div class="modal-content">
                        <h4>分數選擇</h4>
                        <p>點擊分數以填寫</p>
                        <div class="row">
                          <div class="collection col s10 offset-s1">
                            <a onclick="fill('{{ item }}', 5)" class="collection-item">非常滿意 5</a>
                            <a onclick="fill('{{ item }}', 4)" class="collection-item">滿意 4</a>
                            <a onclick="fill('{{ item }}', 3)" class="collection-item">普通 3</a>
                            <a onclick="fill('{{ item }}', 2)" class="collection-item">不滿意 2</a>
                            <a onclick="fill('{{ item }}', 1)" class="collection-item">非常不滿意 1</a>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a onclick="$('#modal{{ forloop.parentloop.counter }}').modal('close');" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
                      </div>
                    </div>
                  {% else %}
                    已填寫
                  {% endif %}
                {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock body %}

{% block script %}
  {% csrf_token %}
  <script>
    $(document).ready(function(){
      $('.modal').modal()  // modal initial
    });

    function showLoading() {
      $('.container').html(`
        <div class="row valign-wrapper" style="height: 80vh;">
          <div class="col s10 offset-s1">
            <div class="row">
              <div class="col s12">
                <h5 class="center-align">填寫中，稍等一下～</h5>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="progress"><div class="indeterminate"></div></div>
              </div>
            </div>
          </div>
        </div>
      `)
    }

    function fill(parametersString, score) {
      var postData = {
        'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
        'parametersString': parametersString,
        'score': score
      }

      showLoading()

      $.post('{% url "assessments:fill" %}', postData, function (result) {
        $('.modal').modal('close')
        if (result.success) {
          window.location.reload();
        } else {
          if (result.messages[0] == '登入失敗，請重新登入') {
            window.location = '{% url "users:login" %}'
          }
          Materialize.toast(result.messages[0], 4000)
        }
      })
    }

    function fillAll(score) {
      var postData = {
        'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
        'parametersStrings': '{{ all_class_parameter_string }}',
        'score': score
      }

      showLoading()

      $.post('{% url "assessments:fill_all" %}', postData, function (result) {
        $('.modal').modal('close')
        for (message in result.messages) {
          if (result.messages[0] == '登入失敗，請重新登入') {
            window.location = '{% url "users:login" %}'
          }
        }
        window.location.reload();
      })
    }
  </script>
{% endblock script %}
