<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'root' %}">NTUB Bot</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        {% if request.session.cookies %}
          <a class="nav-link" href="{% url 'assessments:index' %}">教學評量列表</a>
        {% endif %}
      </li>
    </ul>

    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        {% if request.session.cookies %}
          <a class="nav-link" href="{% url 'users:logout' %}">登出</a>
        {% else %}
          <a class="nav-link" href="{% url 'users:login' %}">登入</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
